* {
    margin: 0;
    padding: 0;
  }

.title {
    text-align: center;
    font-size: 3em;
    font-family: Noteworthy;
    color: black;
    opacity: 100%;
}

body {
    background-size: cover;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
}

.topbox {
    margin:auto;
    padding: 30px;
    background-color: rgba(100, 100, 100, 0.5);
    top: 0;
    
  }

#top_nav {
    position:fixed;
    top:0px;
    width: 100%;
}

.nav-link {
    font-size:1.5em;
    color: rgb(100, 100, 100); 
}

.nav-link:hover {
    color: rgb(41, 41, 41); 
    margin-top: +.125rem;
}

#home {
    text-align: center;
    padding-top: 32rem;
    font-size: 26px;
    color:#bdc3c7;
    font-family: 'Montserrat', sans-serif;
}

#about {
    text-align: center;
    padding-top: 50rem;
    font-size: 26px;
    color:#bdc3c7;
    font-family: 'Montserrat', sans-serif;
}

.parag_title {
    font-family: Noteworthy;
}